export(dmixst)
export(fitmixst)
export(mixstEst)
export(mmixstEst)
export(mmixstEst2)
export(mmixstEstC)
export(regSkewt)
export(regtest)
export(regtestMV)
export(rmixst)
export(rmst)
export(rmvn)
export(rmvnorm)
export(stderror)
export(truncatedt)
exportClasses(fitmixout)
exportClasses(mixpara)
exportMethods(lines)
exportMethods(logLik)
exportMethods(plot)
exportMethods(points)
exportMethods(predict)
exportMethods(show)
exportMethods(summary)
importFrom(graphics,lines)
importFrom(graphics,plot)
importFrom(graphics,points)
importFrom(methods,show)
importFrom(stats,predict)
importFrom(stats4,logLik)
importFrom(Rcpp, evalCpp)
useDynLib(fitmixst4)
